.task-detail-container {
    min-width: 300px;
    width: 30%;
    text-align: left;
}

.task-detail-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-icon {
    width: 20px;
}

.task-detail-notes {
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
}

.react-datetime-picker__wrapper {
    padding: 5px 10px;
    text-align: left;
    border-radius: 4px;
}

.date-time-style {
    margin: 10px 20px;
}