.task-detail-container {
    min-width: 300px;
    width: 30%;
    text-align: left;
}

.task-detail-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-icon {
    width: 20px;
}

.task-detail-notes {
    position: relative;
}

.task-detail-notes::before {
    position: absolute;
    content: '';
    top: 0;
    left: 20px;
    width: calc( 100% - 40px );
    border-top: 1px solid #dadce0;
}

.react-datetime-picker__wrapper {
    padding: 5px 10px;
    text-align: left;
    border-radius: 4px;
}

.date-time-style {
    margin: 10px 20px;
}

.task-detail-description-header {
    display: flex;
    justify-content: left;
    align-items: center;
}

.task-detail-description-icon {
    height: 20px;
    width: 20px;
    margin: 10px 15px;
}

.task-detail-description-title {
    font-size: 20px;
}

.task-detail-description {
    margin-left: 40px;
    font-size: 14px !important;
    line-height: 18px !important;
    width: calc( 100% - 62px) !important;
    padding: 2px 10px;
}

.task-detail-description:hover {
    border: 1px solid black !important;
    border-radius: 4px;
}