.list-element {
    height: 50px;
    padding: 6px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}


.list-element-dragging{
    opacity: 0;
}

.drag-drop-icon {
    width: 50px;
}

.list-data{
    display: flex;
    align-items: center;
}

.triple-dot-style {
    width: 20px;
}

.selected-title {
    color: cadetblue;
}
