.primary-button{
    border-radius: 4px;
    line-height: 34px;
    padding: 0 15px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    color: white;
}

.enabled-primary-button {
    background-color:  rgb(25, 150, 240); 
}

.enabled-primary-button:hover {
    background-color: #f1f3f4;
}

.disabled-primary-button {
    background-color: #6c757d;
    cursor: not-allowed;
}